@using Book_Sales_Project.Models.BasketViewModels;
@model BasketViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<di< class="bg0 p-t-75 p-b-85" >
	<div class="container">
		<div class="row">
			
			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					 @using (Html.BeginForm("Index", "Order", FormMethod.Post))
                       {
					<h4 class="mtext-109 cl2 p-b-30">
						SİPARİŞ
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Ad:
							</span>
						</div>

						<div class="size-209">

							<div class="bor8 bg0 m-b-22">
								@Html.TextBoxFor(x=>x.Baskets.Customer.Name,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15",type="text", placeholder="Adınızı Giriniz."  })
							</div>
						</div>

						<div class="size-208">
							<span class="stext-110 cl2">
								Soyad:
							</span>
						</div>

						<div class="size-209">

							<div class="bor8 bg0 m-b-22">
								@Html.TextBoxFor(x=>x.Baskets.Customer.Surname,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="Soyadınızı Giriniz."  })
							</div>
						</div>
						<div class="size-208">
							<span class="stext-110 cl2">
								Telefon:
							</span>
						</div>

						<div class="size-209">

							<div class="bor8 bg0 m-b-22">
								@Html.TextBoxFor(x=>x.Baskets.Customer.PhoneNumber,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="Telefon Numaranızı Giriniz."  })
							</div>
						</div>
					</div>

					<div class="flex-w flex-t bor12 p-t-15 p-b-30">
						<div class="size-208">
							<span class="stext-110 cl2">
								İl:
							</span>
						</div>

						<div class="size-209">

							<div class="bor8 bg0 m-b-22">						
								@Html.TextBoxFor(x=>x.Baskets.Customer.PhoneNumber,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="İlinizi Yazınız."  })
							</div>
						</div>
						<div class="size-208">
							<span class="stext-110 cl2">
								İlçe:
							</span>
						</div>

						<div class="size-209">

							<div class="bor8 bg0 m-b-22">
								@Html.TextBoxFor(x=>x.Baskets.Customer.PhoneNumber,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="İlçenizi Yazınız."  })
							</div>
						</div>
						<div class="size-208">
							<span class="stext-110 cl2">
								Mahalle:
							</span>
						</div>					

						<div class="size-209">								
							<div class="bor8 bg0 m-b-22">
								@Html.TextBoxFor(x=>x.Address,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="Mahallenizi Yazınız."  })
							</div>
								
						</div>
						<div class="size-208">
							<span class="stext-110 cl2">
								Adres Açıklaması:
							</span>
						</div>
								
						<div class="size-209">

							<div class="bor8 bg0 m-b-22">
								@Html.TextAreaFor(x=>x.Address,new { @class = "stext-111 cl8 plh3 size-111 p-lr-15", type="text", placeholder="Açık adresinizi Yazınız."  })
							</div>
						</div>
							
					</div>

					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Toplam:
							</span>
						</div>
						
						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">
								@Model.Baskets.TotalPrice TL
							</span>
						</div>
					</div>
					
					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
						Sipariş Tamamla
					</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>