@using Book_Sales_Project.Models.BasketViewModels;
@model BasketViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-link {
        color: #FF4B2B;
    }

        .custom-link:hover {
            color: #222;
        }
</style>

<form class="bg0 p-t-75 p-b-85" asp-controller="Order" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">

                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Ürün</th>
                                <th class="column-2"></th>
                                <th class="column-3">Adet</th>
                                <th class="column-4">Fiyat</th>
                                <th class="column-5"></th>
                            </tr>
                            @foreach(var item in Model.BasketItems){
                            <tr class="table_row">
                                <input type="hidden" id="bookId_@item.BookId" value="@item.BookId" />
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                    @{
                                        byte[] imageBytes = item.Books.ImageUrl1;
                                        string base64String = Convert.ToBase64String(imageBytes);
                                        string imgSrc = string.Format("data:image/jpeg;base64,{0}", base64String);
                                    }
                                    <img src="@imgSrc" alt="IMG">
                                </div>
                            </td>
                            <td class="column-2">@item.Books.Name</td>                            
                            <td class="column-3">
                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number" value="@item.Quantity" id="quantity_@item.BookId" name="Quantity" required>

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>
                            </td>

                            <td class="column-4" id="totalPrice_@item.BookId">@item.ProductTotalPrice TL</td>
                                    <td class="column-5"><a href="/Basket/Index" onclick="removeFromBasket('@item.BookId', '@item.ProductTotalPrice')" class="custom-link"><i class="fs-20 zmdi zmdi-delete"></i></a></td>
                        </tr>
                        }
                        
                    </table>
                </div>
               
                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                    <div class="flex-w flex-m m-r-20 m-tb-5">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Toplam:
                            </span>
                        </div>

                        
                    </div>
                    <div class="size-209">
                        <span class="mtext-110 cl2" >@Model.Baskets.TotalPrice</span>
                    </div>
                    <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            <button type="submit"> Sepeti Tamamla</button>
                        </div>
                </div>
         
            </div>
        </div>

        
    </div>
</div>
    
</form>

@section Scripts{
<script>

    function removeFromBasket(bookId, productPrice) {
         
                $.ajax({
        url: '/Basket/DeleteBasket',
        type: 'POST',
        data: { bookId: bookId },
        success: function () {
                updateTotalPrice(-parseFloat(productPrice)); 
        },
        error: function () {
            alert('Ürünü sepetten kaldırma sırasında bir hata oluştu.');
        }
    });
}

function updateTotalPrice(priceDifference) {
    var currentTotalPrice = parseFloat(document.getElementById('totalPrice').innerText);
    var newTotalPrice = currentTotalPrice + priceDifference;
    document.getElementById('totalPrice').innerText = newTotalPrice.toFixed(2);
}     
    </script>

}
